# WPI DATA

In [33]:
import pyodbc
import csv


# MS ACCESS DB CONNECTION
pyodbc.lowercase = False
conn = pyodbc.connect(
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};" +
    r"Dbq=C:\WPI.mdb;")

# To get the list of all tables
cursor = conn.cursor()
table_names = [table.table_name for table in cursor.tables(tableType='TABLE')]
cursor.close()

# Read the table into a DataFrame
query = 'SELECT * FROM "WPI Data"'
df = pd.read_sql(query, conn)

df.to_csv('WPI_data.csv',index=False)
conn.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_17300\722008763.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [13]:
table_names[10]

'Wpi Data'

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('WPI_data.csv')

In [7]:
df

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Services_elect_repair,Supplies_provisions,Supplies_water,Supplies_fuel_oil,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway
0,70,60,KEFLAVIK,IS,64,0,N,22,33,W,...,NaN,Y,Y,Y,Y,Y,Y,C,NaN,S
1,75,60,STRAUMSVIK,IS,64,3,N,22,3,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,80,60,HAFNARFJORDUR,IS,64,4,N,21,57,W,...,Y,Y,Y,Y,Y,Y,Y,B,NaN,M
3,90,60,SKERJAFJORDUR,IS,64,9,N,22,1,W,...,NaN,Y,Y,Y,Y,Y,Y,C,NaN,NaN
4,100,60,REYKJAVIK,IS,64,9,N,21,56,W,...,Y,Y,Y,Y,Y,Y,Y,B,L,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,8270,6585,FREDERICKSBURG,US,38,18,N,77,27,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3626,8280,6585,NORFOLK,US,36,51,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,M,L
3627,8290,6585,PORTSMOUTH,US,36,49,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3628,8300,6585,NEWPORT NEWS,US,36,58,N,76,26,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3629,8318,6585,WARWICK,US,37,27,N,77,25,W,...,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN,NaN

In [8]:
def real_lat(lat_degrees,lat_minutes,lat_hemisphere):
    lat=lat_degrees+(lat_minutes/60)
    if lat_hemisphere == 'S':
        return -lat
    else:
        return lat

def real_long(long_degrees,long_minutes,long_hemisphere):
    long=long_degrees+(long_minutes/60)
    if long_hemisphere == 'S':
        return -long
    else:
        return long

In [9]:
df['Lat']=df.apply(lambda x:real_lat(x['Latitude_degrees'],x['Latitude_minutes'],x['Latitude_hemisphere']),axis=1)

In [10]:
df['Long']=df.apply(lambda x:real_long(x['Longitude_degrees'],x['Longitude_minutes'],x['Longitude_hemisphere']),axis=1)

In [11]:
df[df['Main_port_name']=='JURONG ISLAND']

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Supplies_water,Supplies_fuel_oil,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway,Lat,Long
2774,50017,49990,JURONG ISLAND,SG,1,17,N,103,44,E,...,Y,Y,Y,NaN,NaN,A,L,S,1.283333,103.733333

In [12]:
from math import radians, cos, sin, asin, sqrt
def distance(lat2,lon2):
    lon1=df[df['Main_port_name']=='JURONG ISLAND']['Long']
    lat1=df[df['Main_port_name']=='JURONG ISLAND']['Lat']
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in meters. Use 3956 for miles
    r = 6371000
      
    # calculate the result
    return(c * r)

In [13]:
df['distance_in_meters']=df.apply(lambda x:distance(x['Lat'],x['Long']),axis=1)

In [16]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/ayodeji/anaconda3/lib/python3.11/site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/ayodeji/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import psycopg2

In [18]:
from sqlalchemy import create_engine

In [28]:
engine = create_engine(f"postgresql://postgres:1972@localhost/WPI_data")

In [22]:
nearest_port.to_sql("WPI_data", con=engine)

5

In [15]:
nearest_port=df.sort_values('distance_in_meters')[1:6][['Main_port_name','distance_in_meters']]
nearest_port

                 Main_port_name  distance_in_meters
2772                PULAU BUKOM         6681.487653
2773              PULAU SEBAROK        11865.494458
2771  KEPPEL - (EAST SINGAPORE)        12969.487443
2852            TANJUNG PELEPAS        21686.661357
2779                PULAU SAMBU        22618.311842

In [26]:
cargo_wharf=df['Wpi_country_code'].value_counts()[0:5]
cargo_wharf

US    666
CA    239
GB    184
JP    163
NO    135
Name: Wpi_country_code, dtype: int64

In [30]:
cargo_wharf.to_sql("cargo_wharf", con=engine)

5

In [116]:
### question 4

In [31]:
df_distress=df[(df['Supplies_provisions']=='Y') & (df['Supplies_water']=='Y') & (df['Supplies_fuel_oil']=='Y') & (df['Supplies_diesel_oil']=='Y')]

In [32]:
def distance2(lat2,lon2):
    #lon1=df[df['Main_port_name']=='JURONG ISLAND']['Long']
    #lat1=df[df['Main_port_name']=='JURONG ISLAND']['Lat']
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(-38.706256)
    lon2 = radians(lon2)
    lat1 = radians(32.610982)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in meters. Use 3956 for miles
    r = 6371000
      
    # calculate the result
    return(c * r)

In [33]:
df_distress['distance_from_distress']=df.apply(lambda x:distance2(x['Lat'],x['Long']),axis=1)

/var/folders/z7/twnl6qkd4r94zcyvmmb25nvm0000gn/T/ipykernel_36224/217745815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_distress['distance_from_distress']=df.apply(lambda x:distance2(x['Lat'],x['Long']),axis=1)

In [34]:
df_distress

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway,Lat,Long,distance_in_meters,distance_from_distress
0,70,60,KEFLAVIK,IS,64,0,N,22,33,W,...,Y,Y,Y,C,NaN,S,64.000000,22.550000,9.450623e+06,5.398529e+06
2,80,60,HAFNARFJORDUR,IS,64,4,N,21,57,W,...,Y,Y,Y,B,NaN,M,64.066667,21.950000,9.480528e+06,5.371078e+06
3,90,60,SKERJAFJORDUR,IS,64,9,N,22,1,W,...,Y,Y,Y,C,NaN,NaN,64.150000,22.016667,9.478423e+06,5.375944e+06
4,100,60,REYKJAVIK,IS,64,9,N,21,56,W,...,Y,Y,Y,B,L,L,64.150000,21.933333,9.482434e+06,5.371972e+06
5,105,60,GRUNDARTANGI,IS,64,16,N,22,0,W,...,Y,NaN,NaN,C,NaN,NaN,64.266667,22.000000,9.480783e+06,5.377521e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3623,8250,6585,YORKTOWN,US,37,14,N,76,30,W,...,Y,Y,Y,C,NaN,S,37.233333,76.500000,4.874613e+06,9.749649e+06
3626,8280,6585,NORFOLK,US,36,51,N,76,18,W,...,Y,Y,Y,A,M,L,36.850000,76.300000,4.854520e+06,9.763634e+06
3627,8290,6585,PORTSMOUTH,US,36,49,N,76,18,W,...,Y,Y,Y,A,L,L,36.816667,76.300000,4.851760e+06,9.766025e+06
3628,8300,6585,NEWPORT NEWS,US,36,58,N,76,26,W,...,Y,Y,Y,A,L,L,36.966667,76.433333,4.856311e+06,9.764308e+06
3629,8318,6585,WARWICK,US,37,27,N,77,25,W,...,Y,NaN,NaN,NaN,NaN,NaN,37.450000,77.416667,4.840034e+06,9.795553e+06

In [35]:
distress=df_distress.sort_values('distance_from_distress')[0:1]

In [37]:
distress=distress[['Wpi_country_code','Main_port_name','Lat','Long']]

In [38]:
distress.to_sql("distress_data", con=engine)

1